.carousel {
  position: relative;
  margin: 50px auto;
  width: 1200px;
  height: 310px;
  overflow: hidden;
}
.carousel .carousel-list {
  position: relative;
  width: 6000px;
}
.carousel .carousel-list li {
  float: left;
  width: 1200px;
  height: 310px;
}
.carousel .carousel-list li a {
  float: left;
  margin-right: 106px;
  width: 220px;
  color: #000;
  transition: all .1s;
}
.carousel .carousel-list li a img {
  width: 100%;
}
.carousel .carousel-list li a:last-child {
  margin-right: 0;
}
.carousel .carousel-list li a:hover {
  color: #f8a120;
}
.carousel .carousel-list li a p {
  margin: 33px 0 12px;
  font-size: 18px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carousel .carousel-list li a span {
  font-size: 16px;
}
.carousel .direction-btn {
  display: none;
}
.carousel .direction-btn a {
  position: absolute;
  display: block;
  width: 29px;
  height: 220px;
  line-height: 220px;
  text-align: center;
  color: #fff;
}
.carousel .direction-btn .prev {
  left: 0;
}
.carousel .direction-btn .next {
  right: 0;
}

.dots {
  position: absolute;
  left: 50%;
  margin-left: -78px;
  bottom: -30px;
  width: 136px;
}
.dots a {
  margin: 6px 2px;
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #cccccc;
}
.dots .active {
  background: #f8a120;
}
