body {
  background: #f5f5f5;
}

header {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.8);
}
header .header_con {
  width: 1200px;
  margin: 0 auto;
}
header .header_con .header_left {
  float: left;
  width: 30px;
}
header .header_con .header_right {
  float: right;
}
header .header_con .header_right a {
  display: inline-block;
  line-height: 70px;
  color: #999;
  padding: 0 10px;
}
header .header_con .header_right a:hover {
  color: #c69c6d;
}

section {
  width: 100%;
  padding: 30px 0;
  background: #fdf8f4;
}
section .login_content {
  width: 1200px;
  height: 720px;
  margin: 0 auto;
  background: url("../imgs/login_03.jpg") no-repeat center center;
}
section .login_content .login_in {
  float: right;
  width: 310px;
  padding: 30px 35px 15px;
  margin-top: 120px;
  background: #fff;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.2);
}
section .login_content .login_in .login {
  width: 310px;
  margin: 0 auto 30px;
}
section .login_content .login_in .login .login_title {
  height: 20px;
  margin-bottom: 50px;
}
section .login_content .login_in .login .login_title li {
  width: 50%;
  float: left;
  text-align: center;
  cursor: pointer;
  color: #666;
  font: normal 18px/20px microsoft yahei;
  margin-bottom: 15px;
}
section .login_content .login_in .login .login_title .on {
  color: #f19108;
}
section .login_content .login_in .login .sao_login {
  display: block;
}
section .login_content .login_in .login .sao_login .login_ewm {
  width: 100%;
  height: 192px;
  position: relative;
}
section .login_content .login_in .login .sao_login .login_ewm .ewm_img {
  width: 192px;
  position: absolute;
  left: 59px;
  top: 0;
}
section .login_content .login_in .login .sao_login .login_ewm .ewm_tip {
  width: 160px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
section .login_content .login_in .login .sao_login p {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-top: 35px;
}
section .login_content .login_in .login .sao_login p a {
  color: #f19108;
  margin: 0 5px;
  text-decoration: underline;
}
section .login_content .login_in .login .pass_login {
  display: none;
}
section .login_content .login_in .login .pass_login .error_tip {
  display: none;
  border: 1px solid  #ffac76;
  background: #ffffcf url("../imgs/error_tips.png") no-repeat left center;
  padding-left: 30px;
  margin-bottom: 12px;
  line-height: 25px;
  color: #ff0200;
}
section .login_content .login_in .login .pass_login .login_input li {
  position: relative;
  width: 310px;
  margin-bottom: 15px;
}
section .login_content .login_in .login .pass_login .login_input li .label_input {
  position: absolute;
  height: 50px;
  line-height: 50px;
  left: 10px;
  top: 0;
  color: #999;
  cursor: text;
  font-size: 12px;
}
section .login_content .login_in .login .pass_login .login_input li .username, section .login_content .login_in .login .pass_login .login_input li .password, section .login_content .login_in .login .pass_login .login_input li .checkCode {
  width: 298px;
  height: 20px;
  line-height: 20px;
  padding: 14px 5px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: 1px solid #dedede;
  transition: border linear .2s, box-shadow linear .2s;
}
section .login_content .login_in .login .pass_login .login_input li .user_icon {
  position: absolute;
  width: 15px;
  height: 17px;
  right: 10px;
  top: 16px;
  background: url("../imgs/login_04.png") no-repeat;
}
section .login_content .login_in .login .pass_login .login_input li .user_icon_focus {
  background-position: -19px 0;
}
section .login_content .login_in .login .pass_login .login_input li .pass_icon {
  position: absolute;
  width: 15px;
  height: 17px;
  right: 10px;
  top: 16px;
  background: url("../imgs/login_04.png") no-repeat;
  background-position: 0 -20px;
}
section .login_content .login_in .login .pass_login .login_input li .pass_icon_focus {
  background-position: -19px -20px;
}
section .login_content .login_in .login .pass_login .login_input li .inputfocus {
  border: 1px solid #ffad77;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(240, 127, 5, 0.4);
}
section .login_content .login_in .login .pass_login .login_input li p {
  height: 20px;
  color: #666;
}
section .login_content .login_in .login .pass_login .login_input li .checkCode {
  width: 100px;
  margin-right: 10px;
}
section .login_content .login_in .login .pass_login .login_input li #logImgCode {
  width: 80px;
  height: 40px;
  vertical-align: middle;
}
section .login_content .login_in .login .pass_login .login_input li .changeCode {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #666;
}
section .login_content .login_in .login .pass_login .login_input li .label_remember {
  position: relative;
  top: -10px;
}
section .login_content .login_in .login .pass_login .login_input li .label_remember #remember {
  vertical-align: middle;
  margin-right: 3px;
}
section .login_content .login_in .login .pass_login .login_input .checkMa {
  display: none;
}
section .login_content .login_in .login .pass_login .btn_submit {
  padding: 9px 0 8px 0;
}
section .login_content .login_in .login .pass_login .btn_submit input[type="submit"] {
  width: 100%;
  background: #f19108;
  border: 0;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
section .login_content .login_in .login .other_login {
  margin-top: 30px;
  padding-bottom: 30px;
}
section .login_content .login_in .login .other_login p {
  color: #999;
  padding: 5px 0;
  height: 20px;
}
section .login_content .login_in .login .other_login p a {
  display: inline-block;
  font-size: 12px;
  width: 60px;
  height: 25px;
  cursor: pointer;
  padding-right: 10px;
  color: #666;
}
section .login_content .login_in .login .other_login p a .wx_img {
  vertical-align: middle;
  height: 24px;
}
section .login_content .login_in .login .other_login p a span {
  margin-left: 5px;
}
section .login_content .login_in .login .login_foot {
  width: 100%;
  font-size: 12px;
  line-height: 12px;
}
section .login_content .login_in .login .login_foot .f_span1 {
  color: #999;
  float: left;
}
section .login_content .login_in .login .login_foot .f_span1 a {
  color: #f19108;
}
section .login_content .login_in .login .login_foot .f_span2 {
  float: right;
}
section .login_content .login_in .login .login_foot .f_span2 a {
  color: #666;
}
