@charset "utf-8";
/*PC Public Css Start */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,fieldset,img,input{
	margin:0;
	padding:0;
}
body{
	font-size:12px;
	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
}
.float_l{
	float:left;
}
.float_r{
	float:right;
}
.clearfix:after{
	content:"";
	height:0;
	display:block;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}