.banner{
	position:relative;
	width:1200px;
	height:523px;
	margin:20px auto 0;
	.imgId{
		position:absolute;
		display:block;
		width:1200px;
		height:500px;
		img{
			width:100%;
			height:100%;
		}
		.imgId1{
			opacity:1;
		}
		.imgId2{
			opacity:0;
		}
		.imgId3{
			opacity:0;
		}
		.imgId4{
			opacity:0;
		}
	}
	.btns{
		position:absolute;
		left:50%;
		margin-left:-48px;
		bottom:0;
		li{
			float:left;
			margin:0 2px;
			width:20px;
			height:3px;
			background:#cccccc;
			cursor:pointer;
		}
	}
	.arrow{
		opacity:0;
	}
	.leftArrow{
		width:36px;
		height:70px;
		background-color:rgba(255,255,255,.53);
		text-align:center;
		top:50%;
		position:absolute;
		left:0;
		margin-top:-20px;
		margin-left:10px;
		cursor:pointer;
		line-height:90px;
	}
	.rightArrow{
		width:36px;
		height:70px;
		text-align:center;
		background-color:rgba(255,255,255,.53);
		top:50%;
		position:absolute;
		right:0;
		margin-top:-35px;
		margin-right:10px;
		cursor:pointer;
		line-height:90px;
	}

}